/* *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
} */
body{
    font-family: 'Tajawal', sans-serif;
}
.social{
    margin-left: 30px;
    z-index: 150;
    top: 80%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.social p span i{
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: rgb(181, 29, 28);
    text-align: center;
    padding-top: 17px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* ***************** navbar header *********************** */
.navbar-header{
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    position: fixed;
    z-index: 100;
}
.logo{
    width: 20%;
}
 .logo img{
    height: 80px;
}
.hamburger{
    display: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}
.nav-bar ul{
    display: flex;
    margin-bottom: 0px;
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li .active-nav{
    color:#b51d1c
}
@media screen and (max-width:1320px) {
    .navbar-header{
        padding: 0px 50px;
    }
    .nav-bar ul li a{
        text-decoration: none;
        font-size: 18px;
        padding: 10px 15px;
    }
}
@media screen and (max-width:1100px) {
    .navbar-heade{
        padding: 0px 50px;
    }
    .nav-bar ul li a{
        text-decoration: none;
        font-size: 16px;
        padding: 10px 5px;
    }
}
@media screen and (max-width:900px) {
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background-color: #efefef;
        margin: 6px 0px;
    }
    .nav-bar{
        height: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
    }
    .active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        text-align: center;
        transition: 0.8s;
        opacity: 0;
    }
    .active ul{
        opacity: 1;
    } 
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}
/* *************** end ****************** */

header .head {
    height: 100vh;
    /* background-image: url('../images/elavator.jpg'); */
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
header .head h2{
    transform: translate(-50% , -40%);
    -webkit-transform: translate(-50% , -40%);
    -moz-transform: translate(-50% , -40%);
    -ms-transform: translate(-50% , -40%);
    -o-transform: translate(-50% , -40%);
    background-color: #00131fb8;
    padding: 25px 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: #fff 0px 0px 10px;
}
.head .carousel-inner{
    height: 100%;
}
.head .slide-layer img{
    height: 100%;
}
/* ********* media query ************* */
@media screen and (max-width:767px){
    .head{
        height: 50vh !important;
    }
    .head h2{
        font-size: 25px;
        top: 50% !important;
        width: 80%;
    }
    .head .slide-layer img{
        height: 100%;
    }
}


/* ********************** about section *********************** */
#about{
    padding: 40px 0px;
}
#about img{
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

@media screen and (max-width:767px){
    #about{
        padding: 30px 0px;
    }
}

/* ********************************* ************************************************** */
#services{
    padding: 40px 0px;
    background: linear-gradient(to left , #65283E , #21325B);
}
.title h4::after{
    content: "";
    width: 100px;
    height: 2px;
    background-color: rgb(181, 29, 28);
    position: absolute;
    top: 35px;
    right: 25%;
}
.title h4::before{
    content: "";
    width: 100px;
    height: 2px;
    background-color: rgb(181, 29, 28);
    position: absolute;
    top: 35px;
    left: 25%;
}
#services img{
    height: 250px;
    border-radius: 25px 25px 0px 0px;
    -webkit-border-radius: 25px 25px 0px 0px;
    -moz-border-radius: 25px 25px 0px 0px;
    -ms-border-radius: 25px 25px 0px 0px;
    -o-border-radius: 25px 25px 0px 0px;
}
.service{
    background-color: #fff;
    height: 210px;
    border-radius: 0px 0px 25px 25px;
    -webkit-border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -ms-border-radius: 0px 0px 25px 25px;
    -o-border-radius: 0px 0px 25px 25px;
}

@media screen and (max-width:767px){
    .title h4::after{
        content: "";
        width: 100px;
        height: 2px;
        background-color: rgb(181, 29, 28);
        position: absolute;
        top: 20px;
        right: 0%;
    }
    .title h4::before{
        content: "";
        width: 100px;
        height: 2px;
        background-color: rgb(181, 29, 28);
        position: absolute;
        top: 20px;
        left: 0%;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    .title h4::after{
        content: "";
        width: 100px;
        height: 2px;
        background-color: rgb(181, 29, 28);
        position: absolute;
        top: 30px;
        right: 13%;
    }
    .title h4::before{
        content: "";
        width: 100px;
        height: 2px;
        background-color: rgb(181, 29, 28);
        position: absolute;
        top: 30px;
        left: 13%;
    }
}
@media screen and (min-width:993px) and (max-width:1399px){
    .title h4::after{
        content: "";
        width: 100px;
        height: 2px;
        background-color: rgb(181, 29, 28);
        position: absolute;
        top: 30px;
        right: 22%;
    }
    .title h4::before{
        content: "";
        width: 100px;
        height: 2px;
        background-color: rgb(181, 29, 28);
        position: absolute;
        top: 30px;
        left: 22%;
    }
}

/* ****************************** start gallery ************************** */
#gallery{
    padding: 40px 0px;
}
#gallery .layer{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
}
#gallery .layer:hover{
    opacity: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
#gallery .layer i{
    color: #fff;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35%;
}

/* *************************** start connect ***************************** */
#contact{
    background: linear-gradient(to left , rgb(83, 0, 0) , #dc3545)
}
.connect{
    background-color: #fff;
    box-shadow: #ccc 0px 0px 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* *************************** start location ***************************** */
#location iframe{
    width: 100%;
}
#location .mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
    width: 100%;
}
#location .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
    width: 100%;
}
/* *************************** start footer ***************************** */
#footer{
    background-color: rgb(0 19 31);
}
.icons .facebook i{
    background-color: blue;
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.icons .whats i{
    background-color: green;
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.icons .insta i{
    background-color: rgb(181, 29, 28);
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#footer .links p a:hover {
    color: rgb(181, 29, 28) !important;
    border-bottom: rgb(181, 29, 28) 1px solid;
}

.copyright{
    background-color: rgb(44 58 67);
    color: #fff;
}